body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.container-content,
.header {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header,
.right-header {
    
    padding: 10px 70px;

}

.left-header {
    font-size: 24px;
    color: #f9faf8;
}

.right-header {
    font-size: 18px;
    color: #e5e7eb;
    
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.header-text{
    display: flex;
    flex-direction: column;
    margin: 70px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    gap: 2px;
}

button {
    background-color: #3882f6;
    cursor: pointer;
    border: #3882f6;
    border-radius: 8px;
    width: 95px;
    height: 35px;
    color: #f9faf8;
    font-weight: 900;

}

.small-text {
    font-size: 18px;
    color: #e5e7eb;
}

.img-header {
    width: 500px;
    margin: auto;
    padding: 30px;
}

.img-cards{
    width: 200px;
    border-radius: 10%;
    
    
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    
}

.text {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 12%;

    
}


.card-text {
    text-align: center;
    padding: 5px;
    color: rgb(58, 58, 58);
}